.seekDots {
  position: absolute;
  top: 50%;
  left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(0, -50%);
}

.seekDots span {
  display: block;
  width: 7px;
  height: 7px;
  margin-bottom: 15px;
  background-color: #6d5e5a;
  color: #ddd;
  border-radius: 50%;
  cursor: pointer;
}

.seekDots span:nth-child(2) {
  width: 10px;
  height: 10px;
  max-width: 100%;
  background-color: #a39d98;
}
