.app__carousel {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background: url("../../assets/images/Cover_BG.png") no-repeat center
    center fixed;
  background-size: cover;
  z-index: -1;
}

.home__content{
  height: 100vh;
  display: flex;
  align-items: center;
}
