* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat-Light";
  src: url("./assets/fonts/montserrat/Montserrat-Light.ttf");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("./assets/fonts/montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("./assets/fonts/montserrat/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Montserrat-Black";
  src: url("./assets/fonts/montserrat/Montserrat-Black.ttf");
}

@font-face {
  font-family: "Montserrat-Semibold";
  src: url("./assets/fonts/montserrat/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("./assets/fonts/montserrat/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Montserrat-Extrabold";
  src: url("./assets/fonts/montserrat/Montserrat-ExtraBold.ttf");
}

@font-face {
  font-family: "Montserrat-Italic";
  src: url("./assets/fonts/montserrat/Montserrat-Italic.ttf");
}
